table {
  width: 100%;
  font-size: 11pt;
  empty-cells: hide;
}
h1 span {
  border: 4px solid #3a476d;
  padding: 10px;
}
table,
th,
td {
  border: 2px solid #cecece;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
  padding: 0.8em;
}
button {
  background-color: #3a476d;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}
button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}
.selected {
  /* background-color: #f36f48; */
  background-color: #3a476d;
  font-weight: bold;
  color: white;
}
.select {
  /* background-color: #f36f48; */
  background-color: #880e4e;
  font-weight: bold;
  color: white;
}

.section {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.rounded-corner {
  border-radius: 10px;
}
