table {
    width: 100%;
    font-size: 11pt;
    empty-cells: hide;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}
table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
button {
    background-color: #3A476D;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.selected {
    /* background-color: #f36f48; */
    background-color: #3A476D;
    font-weight: bold;
    color: white;
}
.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
